* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --col1-conteudo: 0.5fr;
    --col2-conteudo: 8.75fr;
}

body {
    background-color: darkgray;
    max-height: 100vh;
    height: 100%;
}

header  {
    background-color: yellow;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

header > img {
    width: 56px;
}

.menu-cabecalho {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 5vw;
}

.container-menu-cabecalho {
    background-color: aquamarine;
    width: 200px;
    text-align: center;
}

#lista-menu1,
#lista-menu2,
#lista-menu3,
#lista-menu4 {
    position: absolute;
    display: none;
    list-style-type: none;
    background-color: aquamarine;
    width: 200px;
    border-radius: 0 0 10px 10px;
}

.menu-lateral {
    background-color: green;
    grid-area: menu-esquerdo;
}

.container-conteudo {
    background-color: blue;
    height: 80vh;
    display: grid;
    grid-template-columns: var(--col1-conteudo) var(--col2-conteudo);
    grid-template-rows: 1fr;
    grid-template-areas: 
        "menu-esquerdo sections"
    ;
}

.container-sections {
    background-color: darkgrey;
    grid-area: sections;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: 
        "conteudo1 conteudo3"
        "conteudo2 conteudo3"
        "conteudo4 conteudo4"
    ;
}

.container section > h3 {
    padding: 8px;
}

#conteudo1 {
    background-color: brown;
    grid-area: conteudo1;
}

#conteudo2 {
    background-color: aqua;
    grid-area: conteudo2;
}

#conteudo3 {
    background-color: darksalmon;
    grid-area: conteudo3;
}

#conteudo4 {
    background-color: blueviolet;
    grid-area: conteudo4;
}

footer {
    background-color: red;
    height: 10vh;
}